:root {
	--destroyer-color: #eb1274;
	--submarine-color: #82a2e4;
	--cruiser-color: #94ec19;
	--battleship-color: #ecc971;
	--carrier-color: #b2b8c0;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	display: flex;
	justify-content: center;
	width: 100%;
}

.button-row {
	gap: 2;
}
.button-row > button {
	padding: 0.6rem;
}

.grid {
	background-color: rgb(17, 82, 233);
	display: grid;
	margin: 2vmin;
	width: 46vmin;
	height: 46vmin;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
}

.grid > div {
	border: 1px solid hsla(0, 0%, 100%, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
}

.ships {
	display: flex;
}

.ship {
	display: flex;
	flex-wrap: wrap;
	width: calc(4.6vmin * var(--width, 1));
	height: calc(4.6vmin * var(--height, 1));
	margin: 1vmin;
}

.ship > div {
	width: 4.6vmin;
	height: 4.6vmin;
}

.destroyer-container {
	background-color: var(--destroyer-color);
	--width: 2;
}

.destroyer-container-vertical {
	--width: 1;
	--hight: 2;
}

.submarine-container {
	background-color: var(--submarine-color);
	--width: 3;
}

.submarine-container-vertical .cruiser-container-vertical {
	--width: 1;
	--hight: 3;
}

.cruiser-container {
	background-color: var(--cruiser-color);
	--width: 3;
}

.battleship-container {
	background-color: var(--battleship-color);
	--width: 4;
}

.battleship-container-vertical {
	--width: 1;
	--hight: 4;
}

.carrier-container {
	background-color: var(--carrier-color);
	--width: 5;
}

.carrier-container-vertical {
	--width: 1;
	--hight: 5;
}
